ul {
    padding: 0;
    margin: 0;
    font-family: Lato;
}

li.even {
    background-color: lightgray;
    list-style-type: none;
    margin-bottom: 15px;
    padding: 10px;
}

li.odd {
    background-color: rgb(209, 171, 171);
    list-style-type: none;
    margin-bottom: 15px;
    padding: 10px;
}

h1, p {
    margin: 0;
}
